/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: $footer-height;
}

.footer{
	background-color: $up-green;
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: $footer-height;
	color: $up-white;

	.container{
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 0.8em;
	}
}


.tt-hint, .tt-input, .tt-menu{
	width: 100% !important;
}

.twitter-typeahead{
	width: 100% !important;
	margin-bottom: -6px;
}

.student-result-img{
	height: 85px;
}

.student-result-name{
	font-weight: bold;
	font-size: 11pt;
}

.navbar {
	background-color: $up-maroon;
	min-height: $navbar-height;

	#search-bar{
		width: 50%;
		margin: 7px 25%;
	}
	
	.navbar-toggle{
		border-color: $up-maroon;
		
		.icon-bar{
			color: $up-white;
		}
	}

	.navbar-toggle:focus, .navbar-toggle:hover{
		background-color: $up-yellow;
	}

	.navbar-header > a{
		color: $up-white !important;
	}

	.navbar-nav{
		:hover{
			background-color: $up-red;
		}

		.dropdown-menu{
			background-color: $up-maroon;
			
			li>a:hover{
				background-color: $up-red;
			}
		}

		.active > a, .open > a{
			background-color: $up-yellow !important;
		}

		li > a {
			color: $up-white !important;
		}

	}
}

.navbar-nav {

	:hover{
		background-color: $up-terracotta;
	}

	.dropdown-menu{
		background-color: $up-maroon;
		
		li>a:hover{
			background-color: $up-terracotta;
		}
	}

	.active > a, .open > a{
		background-color: $up-yellow !important;
	}

	li > a {
		color: $up-white !important;
	}
}

#avatar-link{
	padding-top: 0;
	padding-bottom: 0;
}

.avatar{
	height: $avatar-height;
	border-radius: 50%;
	margin-bottom: $avatar-margin;
	margin-top: $avatar-margin;
}


#content{
	margin-bottom: $footer-height + 50px;
}

.trunc{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.def-table{
	table-layout: fixed;
}

.dept-header{
	width: 30%;
}

.title-header{
	width: 30%;
}

.staff-header, .date-header{
	width: 15%;
}

.action-header{
	width: 10%;
}

.loader{
	border-top: 3px solid $up-maroon;
	border-right: 3px solid $up-white;
	border-bottom: 3px solid $up-green;
	border-left: 3px solid $up-yellow;

	border-radius: 50%;

	width: 27px;
	height: 27px;

	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;

	display: inline-block;
	float: right;
}

@-webkit-keyframes spin{
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.pending-search{
	height: 50px;
}
